:root {
    box-sizing: border-box;
}
    
    * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    display: table;
    border-spacing: 0;
    margin: 30px;
    width: 560px;
    height: 560px;
    
    border-image-source: url(../img/board.jpg);
    border-image-slice: 90 fill;
    border-image-width: 115px;
    border-image-outset: 26px;
    background-clip: content-box;
}
.board {
    width: 560px;
    height: 560px;
    background-image: 
    conic-gradient(at center,
    rgba(31, 12, 12, 0.925), rgba(31, 12, 12, 0.925) 90deg,
    transparent 90deg, transparent 180deg,
    rgba(31, 12, 12, 0.925) 180deg,rgba(31, 12, 12, 0.925) 270deg,
    transparent 270deg, transparent 360deg),
    
    repeating-linear-gradient(20deg, 
    rgb(235, 212, 151) 0%, 
    rgb(238, 169, 120) 2%, 
    rgba(201,119,64,1) 7%, 
    rgb(180, 98, 43) 10%, 
    rgba(244,173,122,1) 13%, 
    rgba(247,221,148,1) 15%);
    background-size: 140px 140px;
}
.black {
    background-image: radial-gradient(circle at 75% 25%, 
    rgba(51,51,48,1) 5%, 
    rgb(104, 101, 99) 7%, 
    rgb(22, 21, 21) 14%, 
    rgb(83, 78, 78) 19%, 
    transparent 20%, transparent 22%),
    
    radial-gradient(circle at 25% 75%, 
    rgba(51,51,48,1) 5%, 
    rgb(104, 101, 99) 7%, 
    rgb(22, 21, 21) 14%, 
    rgb(83, 78, 78) 19%, 
    transparent 20%, transparent 22%);
    width: 560px;
    height: 210px;
    background-size: 140px 140px; 
}
.white {
    background-image: radial-gradient(circle at 25% 25%, 
    rgba(254,254,254,1) 5%, 
    rgba(254,254,254,1) 5%, 
    rgba(201,201,201,1) 7%, 
    rgba(140,140,140,1) 9%, 
    rgba(173,164,173,1) 12%, 
    rgba(245,242,245,1) 15%, 
    rgba(107,103,107,1) 19%,
    transparent 20%, transparent 22%),

    radial-gradient(circle at 75% 75%, 
    rgba(254,254,254,1) 5%, 
    rgba(254,254,254,1) 5%, 
    rgba(201,201,201,1) 7%, 
    rgba(140,140,140,1) 9%, 
    rgba(173,164,173,1) 12%, 
    rgba(245,242,245,1) 15%, 
    rgba(107,103,107,1) 19%,
    transparent 20%, transparent 22%);
    width: 560px;
    height: 210px;
    background-size: 140px 140px; 
    margin-top: 140px;
}