:root {
    box-sizing: border-box;
}
    
    * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    display: table;
    border-spacing: 0;
    margin: 30px;
    width: 560px;
    height: 560px;
    
    border-image-source: url(../img/board.jpg);
    border-image-slice: 90 fill;
    border-image-width: 115px;
    border-image-outset: 26px;
    background-clip: content-box;
}
.board {
    width: 560px;
    height: 560px;
    background-image: 
    conic-gradient(at center,
    rgba(31, 12, 12, 0.925), rgba(31, 12, 12, 0.925) 90deg,
    transparent 90deg, transparent 180deg,
    rgba(31, 12, 12, 0.925) 180deg,rgba(31, 12, 12, 0.925) 270deg,
    transparent 270deg, transparent 360deg),
    
    repeating-linear-gradient(20deg, 
    rgb(235, 212, 151) 0%, 
    rgb(238, 169, 120) 2%, 
    rgba(201,119,64,1) 7%, 
    rgb(180, 98, 43) 10%, 
    rgba(244,173,122,1) 13%, 
    rgba(247,221,148,1) 15%);
    background-size: 140px 140px;
}
.black {
    background-image: radial-gradient(circle, 
    rgba(51,51,48,1) 25%, 
    rgb(104, 101, 99) 40%, 
    rgb(39, 37, 37) 55%, 
    rgb(32, 30, 30) 57%, 
    transparent 60%, transparent 100%);
    width: 560px;
    height: 210px;
    background-size: 70px 70px; 
    background-position: 70px 0px; 
    /* overflow: hidden; */
    
}
.white {
    background-image: radial-gradient(circle at center, 
    rgba(254,254,254,1) 0%, 
    rgba(254,254,254,1) 27%, 
    rgba(201,201,201,1) 34%, 
    rgba(140,140,140,1) 39%, 
    rgba(173,164,173,1) 43%, 
    rgba(245,242,245,1) 55%,
    transparent 57%, transparent 100%);
    width: 560px;
    height: 210px;
    background-size: 70px 70px; 
    margin: 140px 0;
}



/* .blackrow {
    width: 560px;
    height: 70px;
    background-image:     
    repeating-linear-gradient(90deg,
    rgba(51, 24, 1, 0.945), rgba(51, 24, 1, 0.945) 70px,
    transparent 70px, transparent 140px);
}
.whiterow {
    height: 70px;
    width: 560px;
    background-image:     
    repeating-linear-gradient(90deg,
    transparent, transparent 70px,
    rgba(51, 24, 1, 0.945) 70px, rgba(51, 24, 1, 0.945) 140px);
    
}
.whiterow div,
.blackrow div {
    display: inline-block;
    width: 61px;
    height: 61px;
}
.whiterow div,
.blackrow div {
    margin-left: 5px;
    margin-top: 4px;

}
.whiterow>div:nth-child(even), 
.blackrow>div:nth-child(odd) {
    width: 61px;
    height: 61px;
    border-radius: 50%; 
    background: radial-gradient(circle, 
    rgba(51,51,48,1) 25%, 
    rgb(104, 101, 99) 40%, 
    rgb(39, 37, 37) 55%, 
    rgb(32, 30, 30) 57%, 
    rgba(138,132,130,1) 100%);
}
.blackrow:last-child>div:nth-child(odd),
.blackrow:nth-child(6)>div:nth-child(odd),
.whiterow:nth-child(7)>div:nth-child(even){
    background: rgb(230,230,224);
    background: radial-gradient(circle at center, 
    rgba(254,254,254,1) 0%, 
    rgba(254,254,254,1) 27%, 
    rgba(201,201,201,1) 34%, 
    rgba(140,140,140,1) 39%, 
    rgba(173,164,173,1) 43%, 
    rgba(245,242,245,1) 48%, 
    rgba(107,103,107,1) 100%);
} */